<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login | Col. Lacto Bot</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
      }
      .telegram-widget-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="telegram-widget-container">
      <script
        async
        src="https://telegram.org/js/telegram-widget.js?22"
        data-size="large"
        data-request-access="write"
        data-telegram-login="<%= botUsername %>"
        data-onauth="onTelegramAuth(user)"
      ></script>
    </div>
    <script type="text/javascript">
      const queryParams = "<%- queryParams %>";
      function onTelegramAuth(user) {
        fetch(`/auth?${queryParams}&${new URLSearchParams(user).toString()}`).then((response) => {
          if (response.ok) window.close();
          else alert("Authentication failed: Unexpected error occurred. Please try again.");
        });
      }
    </script>
  </body>
</html>
